<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CovidPal.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0902B44056469A105DEA81AD007176DF34248068</string>
				<key>dateExpires</key>
				<string>9/8/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ESTabBarController_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IGListDiffKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IGListKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0902B44056469A105DEA81AD007176DF34248068</string>
						<key>dateExpires</key>
						<string>9/8/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7V89GRQZ5</string>
						<key>name</key>
						<string>Benjamin Swonger</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K7V89GRQZ5.com.future.CovidPal1</string>
				<key>com.apple.developer.team-identifier</key>
				<string>K7V89GRQZ5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>K7V89GRQZ5.com.future.CovidPal1</string>
				</array>
			</dict>
			<key>name</key>
			<string>CovidPal.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d163d0ee-ef14-4934-af07-6e10580388f1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K7V89GRQZ5</string>
				<key>name</key>
				<string>Benjamin Swonger</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
